<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}"/>

    {% block head_content %} {% endblock %}
</head>

<body>
<header class="header">
    {% if "add" not in request.endpoint %}
    <a class="header__link" href="{{ url_for('index') }}"><h1 class="header__logo">Habits</h1></a>
    <a class="header__link" href="{{ url_for('add') }}">+ Add new</a>
    {% endif %}
</header>
<main class="main">
    {% block main_content %}
    {% endblock %}
</main>
<footer class="footer">
    by Cetin
</footer>
</body>
</html>