*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.header {
    max-width: 640px;
    margin: 24px auto;
    padding-left: 12px;
    padding-right: 12px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    text-decoration: none;
    color: inherit;
}

.main {
    max-width: 480px;
    margin: 24px auto;
    padding: 12px;
}

.day-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgrey;
}

.selected {
    background: grey;
    padding: 0px 5px;
}

.day-list__day {
    text-decoration: none;
    color: inherit;
}

.habit-list {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    margin-top: 12px;
    padding: 0px 5px;
}

.habit-form__button {
    text-decoration: none;
    background-color: inherit;
    border: none;
    margin: 6px 0px;
    font-size: 1rem;
    cursor: pointer;
}

.habit-form__button:disabled {
    text-decoration: line-through;
    cursor: unset;
}

.footer {
    max-width: 640px;
    margin: auto auto 120px auto;
    background-color: lightgrey;
}

.form{
    max-width: 480px;
    margin 24px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.form__input {
    resize: none;
    padding: 12px
}

.form__button {
    align-self: flex-end;
    width: 128px;
    margin-top: 12px;
}
